<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>FootDiv</title>
    <meta name="description" content=""/>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="topnav">
            <a href="/">accueil</a>
            <a href="/joueurs" class="active">joueurs</a>
            <a href="/equipes">équipes</a>
            <a href="/championnats">championnats</a>
        </nav>
        <h1>
            FootDiv, la gestion footballistique.
        </h1>
    </header>

    <main>
        <div class="liste">
            <h2>Liste des joueurs : </h2>
            <ul><% for(var i = 0; i < joueurs.length; i++){ %>
                <li><%= joueurs[i].nom_joueurs %> 
                    <a href="/joueurs_modif/<%= joueurs[i].idjoueurs %>" class="modifier"> <button>Modifier</button></a>
                    <a href="/joueurs_supp/<%= joueurs[i].idjoueurs %>" class="supprimer"> <button>Supprimer</button></a></li>
                    <ul>
                        <li> <%= joueurs[i].age_joueurs %> ans</li>
                        <li> <%= joueurs[i].poste_joueurs %> </li>
                        <li> <%= joueurs[i].nom_equipes %></li></br>
                    </ul>
              <% } %> </ul>
            <p> 
                <a href="ajouter_joueurs" class="ajouter_new"><button>Ajouter un nouveau joueur</button></a>
            </p>
        </div>
        <div class="image">
            <img src="../img/liste_jou.jpg" alt="Joueurs football"  class="liste_jou">
        </div>
    </main>
    <nav class="Menu">
      <a href="/">Accueil</a>
      <a href="/joueurs">Joueurs</a>
      <a href="/equipes">Équipes</a>
      <a href="/championnats">Championnats</a>
    </nav>

    <footer>2020, copyright © FootDiv</footer>
    <div id="overlay"></div>
</body>
</html>